/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estructura general */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #1e3a5f;
    color: white;
    text-align: center;
    padding: 25px;
}

.div-titulo h1 {
    font-size: 32px;
}

/* Main */
main {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;

    flex: 1;

    display: flex;
    gap: 25px;
    align-items: flex-start;
}


/* Formulario */
.container {
    background-color: white;
    padding: 25px;
    border-radius: 10px;

    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);

    width: 400px;
}

.container h2 {
    margin-bottom: 20px;
    color: #1e3a5f;
}

/* Divs del formulario */
.div-nombre,
.div-apellido,
.div-cargo,
.div-email {
    margin-bottom: 15px;
}

/* Labels */
form label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

/* Inputs */
form input {
    width: 250px;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;

    outline: none;
}

/* Efecto al seleccionar input */
form input:focus {
    border-color: #1e3a5f;
}

/* Botón */
#boton-guardar {
    background-color: #1e3a5f;
    color: white;

    border: none;
    padding: 12px 20px;

    border-radius: 5px;
    cursor: pointer;

    transition: 0.3s;
}

/* Hover botón */
#boton-guardar:hover {
    background-color: #29527a;
}

/* Tabla */
.panel-tabla {
    background-color: white;
    padding: 25px;

    border-radius: 10px;

    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);

    flex: 1;
}

.panel-tabla h2 {
    margin-bottom: 20px;
    color: #1e3a5f;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Encabezado tabla */
thead {
    background-color: #1e3a5f;
    color: white;
}

/* Celdas */
th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Filas alternadas */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover filas */
tbody tr:hover {
    background-color: #dfe9f3;
}

/* Footer */
footer {
    background-color: #1e3a5f;
    color: white;

    text-align: center;
    padding: 20px;
}